* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    width: 100%;
    height: 100vh;
  }
  h3,
  p {
    margin: 6px 0;
  }
  #app {
    width: 100%;
    /*height: 100vh;*/
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  a:hover {
    color: red;
  }
  /*header*/
  header {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.104);
    padding: 10px 0;
    margin-bottom: 10px;
  }
  #navbar {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
  }
  .img-logo {
    height: 80px;
  }
  .logo-shopping-cart {
    height: 25px;
  }
  .licks-navbar {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  #account-cart {
    background-color: red;
    border-radius: 100%;
    display: inline-block;
    width: 20px;
    aspect-ratio: 1;
    text-align: center;
  }
  
  /*Footer*/
  footer {
    width: 100%;
    height: 100px;
    text-align: center;
    box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.104);
    margin-top: auto;
  }
  section{
    border: 3px solid red;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
  }
  #trasleter-title{
    border: 4px solid blue;
    width: 20%;
    height: 15%;
    display: grid;
    place-items: center;
    font-size: 30px;
  }
  .trasleter-number{
    border: 4px solid blue;
    width: 60%;
    height: 80%;
    display: grid;
    place-items: center;
    grid-template-areas:
    "a a b c c"
    "a a b c c";
    padding: 20px;
  }
  /*
     display: grid;
    grid-template-areas:
    "a a b c c"
    "a a b c c";
  */
  #trasleter-text-number{
    grid-area: a;
  }
  #trasleter-change{
    grid-area: b;
  }
  #trasleter-container-number{
    grid-area: c;
  }
  .trasleter-container{
    width: 200px;
    height: 200px;
    display: grid;
  }
  .trasleter-number-texr{
    width: 100%;
    height: 160px;
    margin-bottom: 0%;
  }
  .trasleter-label{
    width: 200px;
    height: 40px;
    margin: 0;
  }